<p> Register Person</p>

<%= form_for :person do |f|%>
    <%= f.label :Name %> <br>
    <%= f.text_field :name %><br>
     <%= f.label :LastName %> <br>
    <%= f.text_field :last_name %>
    <br>
    <%= f.submit%>
<% end %>